body {
  margin: 0; /* Remove default margin from the body element */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; /* Set the font stack for the body, preferring system and common sans-serif fonts */
  -webkit-font-smoothing: antialiased; /* Improves font rendering on WebKit browsers for smoother text */
  -moz-osx-font-smoothing: grayscale; /* Improves font rendering on macOS for Mozilla-based browsers */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace; /* Set the font stack for code elements, preferring monospaced fonts for better readability */
}
